
@{
    Layout = null;
}

<h2>Create</h2>

<form id="formCreate">

    <label>Title</label>
    <input name="Title" />
    <br />

    <label> Picture URL</label>
    <input name="PictureURL"/>
    <br />

    <label> Description </label>
    <input name="Description"/>
    <br />


    <label>  Actual Amount </label>
    <input name="ActualAmount"/>
    <br />

    <label> Starting Time </label>
    <input name="StartingTime"/>
    <br />


    <label> End Time </label>
    <input name="EndTime"/>
    <br />

    <button id="btnCreate">Submit</button>

</form>

<script>

    $("#btnCreate").click(function () {

        $.ajax({
            type: 'POST',
            url: '/Auctions/Create/',
            data: $("#formCreate").serialize()

        })
            .done(function (data) {
                $(".mainContent").html(data);
                $(".actionArea").html("");

            })
               .fail(function (data) {
                alert("failed");
        });

    });


</script>