
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form method="post">

    <label>Title</label>
    <input name="Title" />
    <br />

    <label> Picture URL</label>
    <input name="PictureURL"/>
    <br />

    <label> Description </label>
    <input name="Description"/>
    <br />


    <label>  Actual Amount </label>
    <input name="ActualAmount"/>
    <br />

    <label> Starting Time </label>
    <input name="StartingTime"/>
    <br />


    <label> End Time </label>
    <input name="EndTime"/>
    <br />

    <button>Submit</button>

</form>