
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form method="post">

    <label>Title</label>
    <input />
    <br />

    <label> Picture URL</label>
    <input />
    <br />

    <label> Description </label>
    <input />
    <br />


    <label>  Actual Amount </label>
    <input />
    <br />

    <label> Starting Time </label>
    <input />
    <br />


    <label> End Time </label>
    <input />
    <br />

    <button>Submit</button>

</form>