@model DealDouble.Entities.Auction
@{
    Layout = null;
}

<h2>Delete</h2>

<h1>Are you sure want to delete the auction ?</h1>



<div>
    <button class="btnDelete" data-id="@Model.ID" value="Yes">Yes</button>
    <button class="btnDelete" data-id="@Model.ID" value="No">No</button>
</div>


<script>
    $(".btnDelete").click(function () {

        $.ajax({
            type: 'POST',
            url: '/Auctions/Delete/',
            data: {
                ID: $(this).attr('data-id'),
                Value: $(this).attr('value')
            }
        })
            .done(function (data) {
                $(".mainContent").html(data);
                $(".actionArea").html("");

            })
            .fail(function (data) {
                alert("failed");
            });

    });
</script>