
@{
    ViewBag.Title = "Index";
}

<h1> Admin Control Panel </h1>
<div class="row">
    <div class="mainContent col-lg-12">

        @{
            Html.RenderAction("Listing");
        }

    </div>

</div>



<!-- Modal -->
<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content actionArea">

        </div>
    </div>
</div>

